#root {
  width: 100%;
}
.navbar,
.navbar-default {
   min-width: '100%';
  text-align: right;
   padding-left: 5rem;
   padding-right: 5rem;
   
}

.NavLink{
   font-size: 30px;
    color: black;
  }
  .NavLink:hover{
    color: hotpink;
    
  }
  .customFont{
    font-family: larabiefont, monospace;

font-weight: 700;

font-style: normal;
  }
  .brand{
    position: absolute;
    top:1rem;
    left:2rem;
    font-size: 3rem;
   
    
    
  }
  .bimg{
    display: inline;
  }
  .btext{
    display: inline;
    margin-top: 30rem;
  }
  
